# API configuration
PORT=5000

# LLM Provider Configuration
# Supported: GOOGLE_GEMINI, OPENAI
LLM_PROVIDER=GOOGLE_GEMINI

# Your API Key
AI_API_KEY=your_api_key_here

# Frontend Configuration
VITE_API_URL=http://localhost:5000
